 #navbar-search-users-wrapper {
  .ant-dropdown-menu-title-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    a {
      color: #293342;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      color: #293342;
      &:last-child {
        margin-bottom: 0;
      }
      p{
        &:last-child{
            font-size: 12px;
        }
      }
      .left{
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }

.search-inp-wrapper{
    position: relative;
    display: flex;
    align-items:center;
    button{
        position: absolute;
        right: 5px;
    }
}