#add-post{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-bottom: 30px;

    .status{
        width: 100%;
        cursor: pointer;
        border: none;
        background-color:rgb(241,245,249);
        color:rgb(75,85,99);
        border-radius:8px ;
        text-align: center;
        padding: 12px;

    }
    .photo, .video{
        background-color:rgb(253,241,248);
        color:rgb(219,39,119);
        padding: 10px;
        border-radius:8px;
    }
    .video{
        background-color:rgb(236,247,254);
        color:rgb(2,132,199);
    }

}