#set-new-password {
    nav {
      padding: 20px;
    }
    .wrapper {
      h3 {
        padding: 0 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 40px;
      }
      p {
        padding: 0 40px;
        text-align: center;
        color: rgb(115, 115, 115);
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
      }
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  
        padding: 20px;
  
        button {
          width: 100%;
          margin-top: 20px;
          border-radius: 8px;
          padding: 5px 0;
  
          color: white;
          background-color: rgb(88, 80, 236);
  
          border: none;
          cursor: pointer;
        }
      }
      .link-wrapper{
          display: flex;
          justify-content: center;
          align-items:center;
          flex-wrap: wrap;
          margin: 10px;
          gap: 10px;
          p{
              padding: 0;
              margin: 0;
          }
          a{
              padding: 0;
              margin: 0;
              text-align: center;
              color:#262626;
              font-size: 14px;
              font-weight: 600;
          }
      }
    }
    .error{
      color:red;
      font-size: 12px;
      margin: 5px 0;
    }
  }
  