#user-settings {
  .settings-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    max-width: 736px;
    .header {
      padding: 32px 32px 16px 23px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .current-info-wrapper{
          display: flex;
          align-items: center;
          gap: 16px;
          .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .avatar {
              &-input {
                display: none;
              }
              &-upload {
                margin-left: -30px;
                margin-top: 70px;
              }
            }
          }
          .right {
            display: flex;
            justify-content: space-between;
            div{
              display: flex;
              flex-direction: column;
              h4 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
              }
              h6 {
                a {
                  color: rgb(37, 99, 235);
                  font-size: 14px;
                  font-weight: 400;
                }
              }
    
            }
          }
      }
      .new-photo{
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 16px;
      }
    }
    #user-info-form {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .form-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            div:first-child {
              display: flex;
              justify-content: center;
              align-items: end;
              flex-direction: column;
            }
            div:nth-child(2) {
              display: flex;
              flex-direction: column;
              align-items: start;
              input {
                padding: 7px 10px;
                border: none;
                background-color: rgb(241, 245, 249);
                border-radius: 8px;
                transition: width 0.5s, height 0.5s, background-color 0.5s;
                &:focus {
                  outline: 2px solid rgb(37, 99, 235);
                }
              }
              textarea{
                padding: 7px 10px;
                border: none;
                background-color: rgb(241, 245, 249);
                border-radius: 8px;
              }
              select{
                padding: 7px 10px;
                border: none;
                background-color: rgb(241, 245, 249);
                border-radius: 8px;
              }
            }
          }
          .button-wrapper {
            margin-top: 26px;
            display: flex;
            gap: 26px;
            button {
              padding: 6px 24px;
              border: none;
              border-radius: 8px;
              font-size: 12px;
              font-weight: 500;
              cursor: pointer;
            }
            .white {
              background-color: rgb(241, 245, 249);
            }
            .blue {
              background-color: rgb(37, 99, 235);
              color: white;
            }
          }
        }
      }
      .btn-wrapper{
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top: 30px;
        button{
          cursor: pointer;
          background-color: transparent;
          border: none;
          color: rgb(37,99,235);
          padding: 10px 10px;
          border-bottom: 1px solid dotted;
        }
      }
    }
    #user-social-links {
      h3 {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 400;
        color: rgb(75, 85, 99);
      }
      form {
        margin-top: 32px;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          li {
            margin-bottom: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 26px;
            div {
              padding: 8px;
              display: flex;
              align-items: center;
              border-radius: 50%;
            }
            input {
              padding: 7px 10px;
              border: none;
              background-color: rgb(241, 245, 249);
              border-radius: 8px;
              transition: width 0.5s, height 0.5s, background-color 0.5s;
              &:focus {
                outline: 2px solid rgb(37, 99, 235);
              }
            }
          }
        }
      }
      .btn-wrapper {
        margin-top: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
        button {
          padding: 6px 24px;
          border: none;
          border-radius: 8px;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
        }
        .white {
          background-color: rgb(241, 245, 249);
        }
        .blue {
          background-color: rgb(37, 99, 235);
          color: white;
        }
      }
      .error{
        color:red;
        font-size: 12px;
      }
    }
    #user-notifications-form{
      div{
        display: flex;
        justify-content: center;
        align-items:start;
        flex-direction: column;
        .wrapper{
          display: flex;
          align-items:start;
          justify-content: center;
          gap: 50px;
          flex-direction: row;
        }
        .button-wrapper {
          margin-top: 26px;
          display: flex;
          justify-content: center;
          align-items:center;
          flex-direction: row;
          gap: 26px;
          button {
            padding: 6px 24px;
            border: none;
            border-radius: 8px;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
          }
          .white {
            background-color: rgb(241, 245, 249);
          }
          .blue {
            background-color: rgb(37, 99, 235);
            color: white;
          }
        }
      }
    }
    input[type="checkbox"] {
      border-radius: 8px;
      width: 20px;
      height: 20px;
      &:checked {
        border-radius: 8px;
        outline: none;
        border:none;
      }
      &:hover{
        border-radius: 8px;
        outline: none;
        border:none;
      }
      &:active{
        border-radius: 8px;
        outline: none;
        border:none;
      }
    }
    
  }
}
