#side-bar{
    position: fixed;
    width: 250px;
    transition: width 0.3s ease;
    &:hover{
        width: 330px;
        cursor: pointer;
    }
    ul{
        padding: 8px;
        li{
            display: flex;
            gap: 20px;
            padding: 16px 12px;
            border-radius: 5px;
            align-items:center;
            a, p{
                font-size: 14px;
                font-weight: 500;
                color:rgb(41,51,66);
            }
            &:hover{
                background-color: rgb(241,245,249);
            }
        }
    }
    .pages{
        li{
            img{
                height: 24px;
                width: 24px;
            }
            &:hover a{ 
                color: rgb(2, 132, 199);
            }
        }
    }
}

@media only screen and (max-width: 1199.9px) {
    #side-bar{
        display: none !important; 
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1300px) {
    #side-bar{
        width: 90px!important; 
        &:hover{
            width: 100px!important;
        }
    }
  }

  

  @media only screen and (min-width: 1301px) and (max-width: 1454px) {
    #side-bar{
        width: 150px!important; 
        &:hover{
            width: 180px!important;
        }
    }
  }