#messages-page {
  display: flex;
  justify-content: row;

  nav {
    ul {
      padding: 8px;
      background-color: white !important;
      width: 286px;
      height: 90vh;

      li {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 12px 16px;
        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          border-radius: 8px;
          background-color: rgb(241, 245, 249);
          color: #0284c7;
        }
      }
    }
  }

  section {
    display: flex;

    #users-wrapper {
      width: 359px;
      background-color: white;

      border-left: 1px solid rgb(229, 231, 235);
      border-right: 1px solid rgb(229, 231, 235);
      .header {
        padding: 16px;

        display: flex;
        flex-direction: column;

        border-bottom: 1px solid rgb(229, 231, 235);
        .top {
          display: flex;
          justify-content: space-between;
          margin-top: 8px;

          .left {
            h1 {
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
        .bottom {
          margin-top: 8px;
          input {
            background-color: rgb(249, 250, 251) !important;
            color: rgb(75, 85, 99) !important;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }

      .chatters {
        height: 75vh;
        overflow-y: auto;
        ul {
          padding: 8px;

          li {
            padding: 8px;
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 8px;
            transition: background-color 0.3 ease;
            .avatar {
              position: relative;
              .photo {
                width: 56px !important;
                height: 56px !important;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              .isOnline {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 14.4px;
                height: 14.4px;
                border-radius: 50%;
                border: 0.8px solid white;
                background-color: rgb(34, 197, 94);
              }
            }
            .info {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              width: 100%;
              .top {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2px;
                h5 {
                  font-size: 14px;
                  font-weight: 500;
                }
                p {
                  color: rgb(107, 114, 128);
                  text-align: end;
                  font-size: 12px;
                  font-weight: 300;
                }
              }
              .bottom {
                margin-top: 2px;
                color: rgb(75, 85, 99);
                font-size: 14px;
                font-weight: 500;
              }
            }
            &:hover {
              border-radius: 8px;
              background-color: rgb(241, 245, 249);
            }
          }
        }
      }
    }

    #chat-wrapper {
      width: 873px;
      background-color: white;
      .wrapper{
            height: 81vh;
            overflow-y: auto;
          .header {
            padding: 14px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            border-bottom: 1px solid rgb(229, 231, 235);
            .left {
              display: flex;
              align-items: center;
              gap: 16px;
              .avatar {
                position: relative;
                .photo {
                  width: 32px !important;
                  height: 32px !important;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                  }
                }
                .isOnline {
                  position: absolute;
                  right: 2px;
                  bottom: 2px;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background-color:rgb(20, 184, 166);
                }
              }
              .info {
                h5 {
                  font-size: 16px;
                  font-weight: 700;
                  color: rgb(75, 85, 99);
                  margin-bottom: 2px;
                }
                p {
                  margin-top: 2px;
                  color: rgb(34, 197, 94);
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }
          }
          .messages{
              .chatter-info{
                padding: 40px 20px;
        
                display: flex;
                justify-content: center;
                align-items:center;
                flex-direction: column;
        
                .avatar{
                    width: 96px!important;
                    height: 96px !important;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                h2{
                    margin-top: 35px;
                    font-size: 20px;
                    font-weight: 500;   
                }
                h6{
                    margin-top: 5px;
                    color: rgb(107, 114, 128);
                    font-size: 14px;
                    font-weight: 400; 
                }
                button{
                    margin-top: 16px;
                    padding: 6px 16px;
                    border: none;
                    border-radius:8px ;
                    background-color:rgb(241, 245, 249) ;
                    color: rgb(75, 85, 99);
                    font-weight: 600;
                    font-size: 14px;
                }
              }
    
              .chat{
                padding: 40px 20px;
                
                .recieved{
                    margin-top: 24px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: start;
                    gap: 12px;
                    .avatar{
                        width: 36px;
                        height: 36px;
                        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
                        border-radius: 50%;
                        .photo{
                            width: 36px;
                            height: 36px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center ;
                            }
                        }
                    }
                    .message{
                        padding: 8px 16px;
                        border-radius: 20px;
                        background-color: rgb(241, 245, 249);
                        color: rgb(75, 85, 99);
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
    
                .sended{
                    margin-top: 24px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: end;
                    gap: 12px;
                    .avatar{
                        width: 20px;
                        height: 20px;
                        .photo{
                            width: 20px;
                            height: 20px; 
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center ;
                            }
                        }
                    }
                    .message{
                        padding: 8px 16px;
                        border-radius: 20px;
                        font-size: 14px;
                        font-weight: 500;
                        background-image:linear-gradient(to right top, rgb(14, 165, 233), rgb(59, 130, 246));
                        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
                        color: white;
                    }
                }
              }
    
            }
      }
        .message-input{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12px;
          gap: 12px;
          .icons-left, .icons-right{
              display: flex;
              align-items: center;
              gap: 8px;
              color: rgb(75, 85, 99)!important;
              font-size: 30px!important;
              font-weight: 400!important;
          }

          .input-wrapper{
              width: 100%;
              input{
                  width: 100%;

                  padding: 8px 16px;
                  border: none;
                  outline: none;

                  background-color: rgb(241, 245, 249);
                  color: rgb(75, 85, 99);
                  font-size: 14px;
                  font-weight: 500;

                  border-radius: 20px;

              }
          }
        }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #messages-page {
    flex-direction: column !important;
    nav {
      ul {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: center;
        width: 100% !important;
        height: fit-content !important;
      }
    }
  }
}
